html,body{
	height: 100%;
	width: 100%;
	color:white;
}

.form-group{
	margin-top: 20px;
}

.form-group:last-child{
	margin-top: 40px;
	margin-bottom: 20px;
}

.form-group button{
	padding: 10px 40px;
}