.wrapper{
	background-color: #eee;
	position: relative;
}

.wrapper:before,.wrapper:after{
	content: " ";
	display: table;
}
.wrapper:after{
	clear: both;
}
.content{
    /*width: 100%;*/
    margin-left: 230px;
    margin-top: 20px;
    height: 100%;
    background: #eee;
}

.clearfix{
	clear: both;
}

.box{
	position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.box-danger{
	border-top-color: #dd4b39;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-header:before, .box-body:before, .box-footer:before, .box-header:after, .box-body:after, .box-footer:after {
    content: " ";
    display: table;
}

.box-header:after, .box-body:after, .box-footer:after {
    clear: both;
}

.box.box-success {
   border-top-color: #00a65a;
}
.box.box-warning {
    border-top-color: #f39c12;
}

.box.box-info {
    border-top-color: #00c0ef;
}