// .datagrid-header-row{
//     width: 100%;
// }

// .datagrid-htable{
//     width: 100%;
// }

// .datagrid-htable{
//     width: 100%;
// }

.datagrid-header-inner{
    float:none;
    width: 100%;
}

.m-datagrid{
    width: 100%;
}
// .datagrid-htable, .datagrid-btable, .datagrid-ftable {
//     width: 100%;
// }