
.bgpic{
	background-image: url(../images/banner-bg.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100%;
    height: auto;
    padding: 130px 0 0;
}

.bgpic .white-background-overlay{
	position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.3;
}

.login-content{
	background-color: rgba(0,0,0,0.4);
	padding: 20px 0;
	border-radius: 5px;
}

.login-content:hover{
	box-shadow: 0 0 2px black ;
}

.bgpic  h2{
	padding-bottom: 20px;
	font-size: 36px;
}

.bgpic .form-group label{
	font-size: 12px;
}



/*.black-background-overlay {
    background-color: #000000;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}